# TIPOS DE NUMEROS

In [15]:
print (type(1))
print (10)
print ( type (10) )
variable = 100
print (variable)
print ( type (variable) )
variable_2 = int (20)
print (variable_2)
print ( type (variable_2) )
print ("Base decimal")
print (10)
print ("Base binaria")
print (0b1010)
print ("Base octal")
print (0o12)
print ("Base hexadecimal")
print (0xa)
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print (type (variable_3))
print (0.5)
print ( type (0.5) )
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )    
variable_7 = float (1)
print(variable_7)
print ( type (variable_7) )
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )
variable_5 = 0.9999999999999999
print(variable_5)
print ( type (variable_5) )

<class 'int'>
10
<class 'int'>
100
<class 'int'>
20
<class 'int'>
Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10
123456789012345678901234567890123456789012345678901234567890
<class 'int'>
0.5
<class 'float'>
0.100546
<class 'float'>
1.0
<class 'float'>
0.002
<class 'float'>
0.9999999999999999
<class 'float'>

# OPERACIONES ARITMÉTICAS

In [14]:
a = 10
b = 3
print ("Suma")
print (a + b)
print ("Resta")
print (a - b)
print ("Multiplicación")
print (a * b)
print ("División")
print (a / b)
print ("Potencia")
print (a ** b)
print ("Módulo o residuo")
print (a % b)
print ("División entera")
print (a // b)

Suma
13
Resta
7
Multiplicación
30
División
3.3333333333333335
Potencia
1000
Módulo o residuo
1
División entera
3

# Operciones complejas

In [13]:
minutos = 300
tiempo_extra_segundos = 3600
horas = (minutos + tiempo_extra_segundos / 60) / 60
print (horas)
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)
print ("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)

6.0
Operadores de comparación
False
False
True
True
True
False
Operadores de comparación con int - float
False
False
True
True
True
False